<html>
     <body style="display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 100vh; margin: 0;">
         <h1 style="color: green;"> The Server Operating System : {{ ansible_distribution }} </h1>
         <br>
         <h1 style="color: blue;"> The Server Hostname : {{ ansible_hostname }} </h1>
         
    </body>
</html>